@model Stacja_paliw.Areas.Worker.Models.TransactionData
@{
    ViewBag.Title = "Rachunek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Stacja paliw SPB</h2>
    @Html.DisplayFor(model => model.Volume)
    @Html.DisplayFor(model => model.TotalPrice);
</div>

