@model Stacja_paliw.Areas.Worker.Models.TransactionData
@{
    ViewBag.Title = "Rachunek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <link href="~/Areas/Worker/Content/Rachunek.css" rel="stylesheet" type="text/css" />
}

<div class="header">
    <h1>Stacja paliw SPB</h1>
</div>
<div class="content">
    <table>
        <tr>
            <td>
                <b>Ilość paliwa: </b>
            </td>
            <td>
                @Html.DisplayFor(model => model.Volume)
            </td>
            <td>
                l
            </td>
        </tr>
        <tr>
            <td>
                <b>Do zapłaty: </b>
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalPrice)
            </td>
            <td>
                zł
            </td>
        </tr>
    </table>
</div>
<div class="footer">
    <h4>Dziękujemy i zapraszamy ponownie</h4>
</div>

