
@{
    ViewBag.Title = "LandingPage";
}

<h2>Wystaw fakturę VAT dla</h2>

<br /><br />

<div class="container-fluid">
    <div class="form-group .col-md-12">
        <div class="col-md-4">
            @Html.Raw(ViewBag.Vol)
            @Ajax.ActionLink("Istniejący klient", "ExistingClient", "Vat", new AjaxOptions(), new {@class = "btn btn-default btn-lg"})
        </div>
        <div class="col-md-4">
            <input type="submit" value="Nowy klient" class="btn btn-default btn-lg" />
        </div>
    </div>

    <br /><br /><br /><br />

    @if(ViewBag.Existing == true)
    {
        <div>
            @Html.Partial("_GetClientPartial")
        </div>
    }
</div>