@model IEnumerable<DomainModel.Price>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stacja paliw</h1>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item div_style" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen="true"></iframe>
            </div>
        </div>
    </div>
</div>

<hr /><hr />

<div class="container-fluid">
    <!-- slider-->
    <div id="main-carousel" class="carousel slide">
        <!--
        <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
        </ol>
        -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://placehold.it/1280x500" alt="" />

                <div class="carousel-caption">
                    <h3 class="universal-text-color">Zajebisty</h3>
                    <p class="universal-text-color">Program Lojanościowy</p>
                </div>

            </div>
            <div class="item">
                <img src="http://placehold.it/1280x500" alt="" />

                <div class="carousel-caption">
                    <h3 class="universal-text-color">Super Myjnia</h3>
                    <p class="universal-text-color">Polecam Żanet Kaleta</p>
                </div>

            </div>
            <div class="item"><img src="http://placehold.it/1280x500" alt="" /></div>
        </div><a href="#main-carousel" data-slide="prev" class="left carousel-control"><span class="icon-prev"></span></a><a href="#main-carousel" data-slide="next" class="right carousel-control"><span class="icon-next"></span></a>
    </div>
</div>