
@{
    ViewBag.Title = "Terms";
}

<br />
<h2>Regulamin programu lojalnościowego</h2>

<br /><br />
<h5>Klient otrzymuje:</h5>
<p>-2 punkty za każdy zatankowany litr benzyny/ON</p>
<p>-1 punkt za każdy zatankowany litr LPG</p>
<p>-5 punktów za mycie standardowe</p>
<p>-10 punktów za mycie z woskowaniem</p>

<br /><br />
<h5>Punkty można wymienić na dodatkowe paliwo lub mycie:</h5>
<p>-benzyna/ON               100 punktów/litr</p>
<p>-LPG                      100 punktów/litr</p>
<p>-mycie standardowe        100 punktów/litr</p>
<p>-mycie z woskowaniem      100 punktów/litr</p>

